<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.droiddebo.mytimes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyTimesApplication"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.ArticleActivity"
            android:label="@string/title_activity_article"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.droiddebo.mytimes.view.MainActivity" />
        </activity>
        <activity
            android:name=".view.AboutActivity"
            android:label="@string/title_about_the_app"
            android:parentActivityName=".view.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.droiddebo.mytimes.view.MainActivity" />
        </activity>
    </application>

</manifest>